:root{
  --total-brand: 5;
  --logo-width: 12 rem;
  --total-logo-width: calc(var(--total-brand) * var(--logo-width) * 2);
  --animation-duration: calc(var(--total-brand) * 10s)
}


*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.spinner-wrapper{
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.spinner-border{
  height: 60px;
  width: 60px;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-brand img {
  width: 120px; 
  height: auto; 
}

.navbar-nav a{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;  
}
.navbar-light .navbar-brand{
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
}

.carousel-item {
  height: 28rem;
  background: #777;
  color: white;
  position: relative;
  display: flex;
  align-items: center; 
}

.carousel-item .container {
  text-align: left;
}

.custom-item{
  height: 480px;
}
.custom-image{
  height: 100%;
  object-fit: cover;
  filter: brightness(0.3);
}

.partners-section {
  background-color: #f4f9ff;
  display: grid;
  place-items: center; 
}

.partners-section h1 {
  margin-top:20px;
  font: 000 1.5rem sans-serif;
  text-align: uppercase;
  margin-bottom: 1.5rem;
  text-align: center;
}

.slider {
  position: relative;
  width: 100%;
  height: 10rem;
  background-color: #fff;
  box-shadow: 0 .8rem 1.4rem -.2rem #0001;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slider::before,
.slider::after {
  position: absolute;
  content: "";
  height: 100%;
  width: var(--logo-width);
}

.slider::before {
  left: 0;
  background: linear-gradient(to right, #fff 0%, #fff0 100%);
}

.slider::after {
  left: 0;
  background: linear-gradient(to left, #fff 0%, #fff0 100%);
}

.slider ul.brands {
  list-style: none;
  width: var(--total-logo-width);
  display: flex;
  animation: slideLeft var(--animation-duration) linear infinite;
}

.slider:hover ul.brands{
  animation-play-state: paused;
}

@keyframes slideLeft {
  100% {
    transform: translateX(calc(-100% / 2));
  }
}

ul.brands li.brand-logo {
  font-size: 2rem;
  text-align: center;
  margin-left: 2rem;
}

.brand-logo-container {
  width: 150px; 
  height: auto; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-logo-container img {
  max-width: 100%;
  max-height: 100%;
}

.vision-h{
  margin-top: 20px;
}

/* about us */
.about-section{
  width: 100%;
  min-height: 100vh;
  background-color: azure;
}
.about-container{
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.content-section{
  float: left;
  width: 55%;
}

.image-section{
  float: right;
  width: 40%;
}

.image-section img{
  width: 100%;
  height: auto;
}

.content-section .title{
  font-size: 20px;
}

.content-section .about-content h3{
  margin-top: 20px;
  color:#5d5d5d;
  font-size: 21px;
}
.content-section .about-content p{
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
}
.content-section .about-content .read-more{
  margin-top: 30px;
}

.content-section .about-content .read-more a{
  background-color: #3d3d3d;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1.5px;
  
}
.content-section .about-content .read-more a:hover{
  background-color: azure;
}

@media screen and (max-width: 768px) {
  .about-container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .content-section{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image-section{
    margin-top: 40px;
    float: none;
    width: 100%;
  }
  .image-section img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
}


/* misson */

.mission-section{
  width: 100%;
  min-height: 100vh;
  background-color: azure;
}
.mission-container{
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.content-section .mission-content h3{
  margin-top: 20px;
  color:#5d5d5d;
  font-size: 21px;
}
.content-section .mission-content p{
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
}
.content-section .mission-content .read-more{
  margin-top: 30px;
}

.content-section .mission-content .read-more a{
  background-color: #3d3d3d;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1.5px;
  
}
.content-section .mission-content .read-more a:hover{
  background-color: azure;
}

.mission-content-section{
  float: right;
  width: 40%;
}

.mission-image-section{
  float: left;
  width: 55%;
}

.mission-image-section img{
  width: 100%;
  height: auto;
}

.mission-content-section .title{
  font-size: 20px;
}

.mission-content-section .mission-content h3{
  margin-top: 20px;
  color:#5d5d5d;
  font-size: 21px;
}

.mission-content-section .mission-content .read-more a{
  background-color: #3d3d3d;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1.5px;
  
}
.mission-content-section .mission-content .read-more a:hover{
  background-color: azure;
}

@media screen and (max-width: 768px) {
  .mission-container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .mission-content-section{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .mission-image-section{
    margin-top: 40px;
    float: none;
    width: 100%;
  }
  .mission-image-section img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
}

/* our vision */
.vision-section{
  width: 100%;
  min-height: 100vh;
  background-color: azure;
}
.vision-container{
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.vision-content-section{
  float: left;
  width: 55%;
}

.vision-image-section{
  float: right;
  width: 40%;
}

.vision-image-section img{
  width: 100%;
  height: auto;
}

.vision-content-section .title{
  font-size: 20px;
}

.vision-content-section .vision-content h3{
  margin-top: 20px;
  color:#5d5d5d;
  font-size: 21px;
}
.vision-content-section .vision-content p{
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
}
.vision-content-section .vision-content .read-more{
  margin-top: 30px;
}

.vision-content-section .vision-content .read-more a{
  background-color: #3d3d3d;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1.5px;
  
}
.vision-content-section .vision-content .read-more a:hover{
  background-color: azure;
}

@media screen and (max-width: 768px) {
  .vision-container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .vision-content-section{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .vision-image-section{
    margin-top: 40px;
    float: none;
    width: 100%;
  }
  .vision-image-section img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
}


.parallax-section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  width: 100%;
  height: 6rem;
  overflow: hidden;
}

.parallax-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.parallax-bg img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transform: translate3d(0, 0, 0); /* Apply parallax effect here */
}

.parallax-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.parallax-content p {
  font-size: 1rem;
  margin-top: 10px;
  color: white;
}

.mission-section {
  margin-bottom: 30px; 
  background-color: #f4f9ff;
}
.vision-section {
  margin-bottom: 20px; 
}

.service-section {
  background-color: #fff;
}

.service-container {
  background: #f4f9ff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  
}

.service-container h2 {
  font-size: 20px;
  text-align: center;
}

.service-container p {
  font-size: 16px;
}

.custom-icon {
  max-width: 50px;
  max-height: 50px; 
}

/* values-container */

.values-section {
  background-color: #fff;
}

.values-container {
  background: #f4f9ff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.values-container p {
  font-size: 16px;
}

.service-icon {
  font-size: 36px;
  margin-bottom: 10px;
}


/* stats section */

.stats-section {
  background-color: azure;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;

}
.stats-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}
.counter{
  font-size: 60px;
  margin-top: 10px;
}
@media (max-width: 580px){
  .stats-section{
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .service-section .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

/* CSS for the image */
.image {
  flex: 1;
  padding: 20px;
}

/* CSS for the form container */
.form-container {
  flex: 1;
  padding: 20px;
  background-color: #f4f9ff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* CSS for the form fields */
.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-container button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.tell-us-more h2{
  text-align: center;
}

@media (max-width: 768px) {
  .section {
      flex-direction: column;
  }
  .image {
      display: none;
  }
  .form-container {
      flex: 1; /* Increase the width */
  }
}

.clients-section {
  background-color: #f4f9ff;
  padding: 30px 0;
  margin-bottom: 40px;
  text-align: center; /* Center text content */
}

.section-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.text-center {
  /* Remove text-align: center; */
}

.clients-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.client-logo {
  width: 100px; /* Set the width as needed */
  height: auto;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .clients-logos {
    flex-direction: column;
    align-items: center;
  }

  .client-logo {
    width: 100px; /* Adjust size for smaller screens */
  }
}



.footer-section {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.footer {
  background-color: #383a59;
  padding: 60px 0;
  color: #ccc;
  text-align: left;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-brand {
  flex-basis: calc(25% - 20px);
  display: flex;
  flex-direction: column;
}

.footer-brand .logo {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

.footer-brand .logo img {
  width: 74px;
  height: 24px;
}

.footer-text {
  font-size: 14px;
  margin-top: 20px;
}

.social-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-link {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.footer-list {
  flex-basis: calc(25% - 20px);
  padding-left: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-list-title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 16px;
}

.footer-text.address {
  font-style: normal;
  color: #ccc;
}

.footer-link {
  text-decoration: none;
  color: #ccc;
  display: block;
  margin: 8px 0;
}

/* Add media query for smaller screens */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-brand, .footer-list, .input-wrapper {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 40px;
  }

  .input-wrapper {
    text-align: center;
  }

  .social-list {
    margin-top: 20px;
  }

  .input-wrapper .input-field {
    width: 80%;
  }
}

/* Footer Styles */

.footer {
  background-color: #f4f9ff;
  padding: 60px 20px;
  color: #000000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-brand {
  flex: 1;
  text-align: left;
  margin-bottom: 20px;
}

.logo img {
  width: 74px;
  height: 24px;
}

.social-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.social-link {
  color: #000000;
}

.footer-list {
  flex: 1;
  text-align: left;
  margin-top: 20px;
  list-style: none;
}

.footer-list-title {
  color: #000000;
  font-size: 18px;
  margin-bottom: 16px;
}

.footer-link {
  color: #000000;
  padding: 4px;
  display: block;
  text-decoration: none;
  transition: 0.2s;
}

.footer-link:hover {
  color: #87D68D;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
  }
  .footer-brand, .footer-list, .input-wrapper {
      text-align: center;
  }
  .input-wrapper {
      margin-top: 20px;
  }
  .submit-btn {
      position: relative;
      border-radius: 6px;
      width: 100%;
      margin-top: 20px;
  }
}

.footer-list {
  flex: 1;
  margin-right: 20px;
}
.footer-list {
  flex: 1;
  margin-right: 20px;
}

.social-media-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none; /* Remove list style */
  padding: 0; /* Remove padding */
}

.social-media-list li {
  margin-right: 10px;
}

.social-link.whatsapp {
  color: #25D366; /* WhatsApp brand color */
}

.social-link.xing {
  color: #00605d; /* Xing brand color */
}

.social-link.linkedin {
  color: #0A66C2; /* LinkedIn brand color */
}

.social-link.instagram {
  color: #E4405F; /* Instagram brand color */
}

@media (max-width: 768px) {
  .social-media-list {
      flex-direction: row; /* Display as a row on mobile devices */
      align-items: center; /* Center the icons vertically */
  }

  .social-media-list li {
      margin-right: 10px; /* Add margin between icons */
  }

  .social-link {
      font-size: 24px; /* Increase the icon size for better visibility on mobile */
  }
}